	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/01/2018 09:50
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon-.eot#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fontsUFlaticon.ttf.html") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
margin-left: 0;
}

.flaticon-001-wine:before { content: "\f100"; }
.flaticon-002-vegetables:before { content: "\f101"; }
.flaticon-003-chicken-2:before { content: "\f102"; }
.flaticon-004-fish-1:before { content: "\f103"; }
.flaticon-005-coffee-1:before { content: "\f104"; }
.flaticon-006-steak:before { content: "\f105"; }
.flaticon-007-spaguetti:before { content: "\f106"; }
.flaticon-008-soup:before { content: "\f107"; }
.flaticon-009-shrimp:before { content: "\f108"; }
.flaticon-010-sheep:before { content: "\f109"; }
.flaticon-011-seashell:before { content: "\f10a"; }
.flaticon-012-salmon:before { content: "\f10b"; }
.flaticon-013-salad:before { content: "\f10c"; }
.flaticon-014-pizza:before { content: "\f10d"; }
.flaticon-015-pig:before { content: "\f10e"; }
.flaticon-016-pancake:before { content: "\f10f"; }
.flaticon-017-sandwich:before { content: "\f110"; }
.flaticon-018-lobster:before { content: "\f111"; }
.flaticon-019-rib:before { content: "\f112"; }
.flaticon-020-ice-cream:before { content: "\f113"; }
.flaticon-021-hotdog:before { content: "\f114"; }
.flaticon-022-tray:before { content: "\f115"; }
.flaticon-023-fish:before { content: "\f116"; }
.flaticon-024-crab:before { content: "\f117"; }
.flaticon-025-coffee:before { content: "\f118"; }
.flaticon-026-chicken-1:before { content: "\f119"; }
.flaticon-027-chicken:before { content: "\f11a"; }
.flaticon-028-cheese:before { content: "\f11b"; }
.flaticon-029-cow-1:before { content: "\f11c"; }
.flaticon-030-cake:before { content: "\f11d"; }
.flaticon-031-burrito:before { content: "\f11e"; }
.flaticon-032-hamburger:before { content: "\f11f"; }
.flaticon-033-beer:before { content: "\f120"; }
.flaticon-034-cow:before { content: "\f121"; }
.flaticon-035-skewer:before { content: "\f122"; }
.flaticon-036-bacon:before { content: "\f123"; }